@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(/global/font/Quicksand.woff2) format('woff2');
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--color-font);
    font-family: Quicksand, sans-serif;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    display: flex;
    align-items: stretch;
}

.layout {
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-columns: var(--sidebar-left) 1fr var(--sidebar-right);
    grid-template-areas:
    "header header header"
    "left content right"
    "footer footer footer";
    min-height: 100vh;
    width: 100%;
    transition: grid-template-columns 0.3s ease;
}

.footer {
    background-color: var(--color-background);
    grid-area: footer;
}