* {
    --color-base: hsl(320, 55%, 60%);

    --color-background: hsl(290, 20%, 12%);
    --color-content-background: hsl(290, 20%, 8%);

    --color-font: hsl(320, 20%, 90%);
    --color-font-hover: hsl(320, 20%, 8%);
    --color-font-dark: hsl(320, 10%, 35%);

    --color-primary: hsl(290, 25%, 15%);
    --color-primary-hover: hsl(320, 55%, 60%);

    --color-accent: hsl(290, 20%, 15%);
    --color-accent-hover: hsl(290, 20%, 17%);

    --color-scrollbar-track: transparent;
    --color-scrollbar-thumb: var(--color-primary);

    --header-height: 60px;
    --sidebar-left: 200px;
    --sidebar-right: 200px;
    --sidebar-min: 60px;
    --footer-height: 100px;
    --border-radius: 10px;
    --border-radius-small: 5px;
}