.about {
    padding-top: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

img.about-image {
    width: 20%;
    max-width: 100%;
    
    border-radius: 10px;
}

.about-text {
    padding-left: 2em;
    width: 30%;
}

.paragraph {
    margin-block: 0.5em;
}

img.about-image-small {
    display: none;
    
    border-radius: 10px;
}