.header {
    height: calc(100vh - var(--header-height));
}

img.logo {
    display: block;
    margin-inline: auto;
    width: 25em;
    max-width: 90vw;
}

.links {
    margin-top: 1%;
    
    height: 25%;
    
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
}

a.link {
    display: inline-block;

    padding-block: 1em;
    margin: 0.5em;
    border-radius: 0.75em;
    
    border: 2px solid var(--color-accent);
    background-color: var(--color-primary);

    width: 10em;
    text-align: center;

    text-decoration: none;

    transition: all 0.5s;
}

a.link:hover {
    color: var(--color-font-hover);
    border-color: var(--color-accent-hover);
    background-color: var(--color-primary-hover);
}