* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Quicksand, sans-serif;

    font-weight: 700;
    font-style: normal;
    font-size: 20px;

    color: var(--color-font);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;

    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    overflow-x: hidden;
}

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
        width: 8px;
        background-color: var(--color-scrollbar-track);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-scrollbar-thumb);
        border-radius: 4px;
    }
}

@supports not selector(::-webkit-scrollbar) {
    *{
        scrollbar-width: thin;
        scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
    }    
}
