* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Quicksand, sans-serif;

    font-weight: 700;
    font-style: normal;
    font-size: 2vh;

    color: var(--color-font);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;

    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    overflow-x: hidden;
}