@media screen and (max-aspect-ratio: 1) {

    * {
        font-size: 1em;
    }
    
    img.logo {
        width: 10em;
    }

    h1.title {
        font-size: 3em;
    }

    .links {
        margin-top: 2em;
        flex-direction: column; 
    }

    .full-screen {
        height: unset;
    }

}