@media screen and (max-aspect-ratio: 1) {

    * {
        font-size: 1em;
    }
    
    img.logo {
        width: 10em;
    }

    h1.title {
        font-size: 3em;
    }

    .links {
        margin-top: 2em;
        flex-direction: column; 
    }

    .full-screen {
        height: unset;
    }

    .about-text {
        width: 90%;
    }

    img.about-image {
        display: none;
    }

    img.about-image-small {
        display: block;
        margin-top: 1em;
        margin-inline: auto;
        width: 50%;
    }

}