.skills-section {
    padding-top: 5em;
    width: 80vw;
    margin-inline: auto;
}

.skills {
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.skills-section-title {
    font-size: 2em; 
    text-align: center;
}

.skill-panel {
    width: 10em;
    height: 10em;
    
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
}

.skill-img {
    height: 75%;
    margin-inline: auto;
    border-radius:  0.75em;
}

.skill-title {
    text-align: center;
    margin-block: auto;
    font-size: 1.1em;
    
    max-width: 90%;
}