.skills-section {
    padding-top: 5em;
    width: 80vw;
    margin-inline: auto;
}

.skills {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 2em;
}

.skills-section-title {
    font-size: 2em; 
    text-align: center;
}

.skill-panel {
    width: 10em;
    height: 10em;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    text-decoration: none;
    
    background-color: var(--color-accent);
    border-radius:  0.75em;
    padding-top: 1em;
    
    transition: all 0.3s;
}

.skill-panel:hover {
    background-color: var(--color-accent-hover);
}

.skill-img {
    height: 75%;
    margin-inline: auto;
    border-radius:  0.75em;
}

.skill-title {
    margin-block: auto;
    font-size: 1.1em;
    
    max-width: 90%;
    padding-block: 0.5em;
}