@import "common.css";

img.logo {
    display: block;
    margin-inline: auto;
    width: 20em;
}

.links {
    height: 10em;
    width: 50em;
}

.about {
    height: 10em;
    width: 50em;
}

.header {
    position: sticky;
    top: 0;

    width: 100vw;
    height: fit-content;

    background-color: var(--color-background);
}

h1.title {
    text-align: center;
    padding-block: 0.5em;
    margin-bottom: 0.25em;
    font-size: 3em;
}