@import "variables.css";
@import "top-bar.css";
@import "links-section.css";
@import "page-setup.css";
@import "about-section.css";

h2.subtitle {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.footer {
    margin-top: 5em;
    border-top: 2px solid var(--color-primary);

    height: 5em;
}