@import "variables.css";
@import "top-bar.css";
@import "links-section.css";
@import "page-setup.css";
@import "about-section.css";
@import "skills-section.css";

h2.subtitle {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.footer {
    margin-top: 5em;
    border-top: 2px solid var(--color-secondary);

    height: 5em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    color: var(--color-font-dark);
    font-size: 0.75em;
}

#hidden-container {
    transition: opacity 1.5s ease-in-out;
}

.hidden {
    opacity: 0;
}