.topbar {
    position: sticky;
    top: 0;

    width: 100vw;
    height: 5em;

    background-color: var(--color-background);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title {
    font-size: 3em;
}