.topbar {
    position: sticky;
    top: 0;

    width: 100vw;
    height: 8em;
    opacity: 100%;

    background-color: var(--color-background);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 0.3s, opacity 0.3s;
}

.topbar-scrolled {
    height: 5em;
    transition: height 1s;
    border-bottom: 2px solid var(--color-secondary-hover);
    opacity: 90%;
}

h1.title {
    font-size: 3em;
}